@using Shared.Models
@page "/Edit"
@page "/Edit/{VehiculoId:int}"
@inject HttpClient httpClient

<EditForm Model="vehiculo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Editar Vehiculo</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label class="fw-bold">VehiculoID:</label>
                    <InputNumber @bind-Value="vehiculo.VehiculoId" class="form-control"></InputNumber>
                </div>
                <div class="col-6">
                    <label class="fw-bold">Fecha:</label>
                    <InputDate @bind-Value="vehiculo.Fecha" class="form-control mb-3"></InputDate>
                    <ValidationMessage For="@(() => vehiculo.Fecha)" />
                </div>
            </div>
            <div>
                <label class="fw-bold">Descripci&oacute;n:</label>
                <InputTextArea @bind-Value="vehiculo.Descripcion" class="form-control"></InputTextArea>
                <ValidationMessage For="@(() => vehiculo.Descripcion)" />
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="fw-bold">Costo:</label>
                    <InputNumber @bind-Value="vehiculo.Costo" class="form-control"></InputNumber>
                </div>
                <div class="col-6">
                    <label class="fw-bold">Gasto:</label>
                    <InputNumber @bind-Value="vehiculo.Gasto" class="form-control"></InputNumber>
                </div>
            </div>
        </div>
        <div class="card-footer ">
            <div class="d-flex">
                <a href="/Index" type="button" class="btn btn-secondary bi bi-arrow-left-square-fill" @onclick="Nuevo">Volver atr&aacute;s </a>
                <button class="btn btn-success bi-floppy-fill">Editar</button>
            </div>
        </div>
    </div>

    @*Detalles:*@
    <div class="card card-header mt-5">
        <h3>Detalle del vehiculo</h3>
        <div>
            <label class="fw-bold mt-3"> Id</label>
            <InputNumber @bind-Value="Detalles.Id" class="form-control"></InputNumber>

        </div>
        <div>
            <label class="fw-bold mt-3">VehiculoId</label>
            <InputNumber @bind-Value="Detalles.VehiculoId" class="form-control"></InputNumber>

        </div>
        <div>
            <label class="fw-bold mt-3">AccesoriosId</label>
            <InputNumber @bind-Value="Detalles.AccesorioId" class="form-control"></InputNumber>

        </div>
        <div>
            <label class="fw-bold mt-3">Valor</label>
            <InputNumber @bind-Value="Detalles.Valor" class="form-control"></InputNumber>

        </div>
        <div class="card-footer d-flex justify-content-center">
            <button type="button" @onclick="AgregarDetalle" class="btn btn-outline-success">Agregar</button>
        </div>
        <table class='table table-bordered table-hover'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>VehiculoId</th>
                    <th>AccesorioId</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detalle in listaDetalles)
                {
                    var vehiculoEncontrado = BuscarVehiculo(detalle.VehiculoId);
                    <tr>
                        <td>@detalle.Id</td>
                        <td>@detalle.VehiculoId</td>
                        <td>@detalle.AccesorioId</td>
                        <td>@detalle.Valor</td>
                        <td><button type="button" class="btn btn-danger bi bi-trash-fill" @onclick=@(() => RemoverDetalle(detalle))></button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>


@code {
    [Parameter]
    public int VehiculoId { get; set; }
    public Vehiculo vehiculo { get; set; } = new Vehiculo();
    public Vehiculos_Detalle Detalles { get; set; } = new Vehiculos_Detalle();
    public List<Vehiculos_Detalle> listaDetalles = new List<Vehiculos_Detalle>();

    protected override async Task OnInitializedAsync()
    {
        if (VehiculoId > 0)
        {
            vehiculo.VehiculoId = VehiculoId;
            listaDetalles = (await httpClient.GetFromJsonAsync<List<Vehiculos_Detalle>>($"api/Vehiculoes"))!
                .Where(p => p.VehiculoId == vehiculo.VehiculoId).ToList();
            await Buscar();
        }
    }

    private async Task<Vehiculo> BuscarVehiculo(int vehiculoId)
    {
        Vehiculo vehiculo = new Vehiculo();
        Vehiculos_Detalle vehiculoDetalles = new Vehiculos_Detalle();
        var vehiculoEncontrado = await httpClient.GetFromJsonAsync<Vehiculo>($"api/Vehiculoes/{vehiculoId}");
        if (vehiculoEncontrado != null)
            return vehiculo = vehiculoEncontrado;
        return new Vehiculo();
    }

    public async Task Buscar()
    {
        var vehiculoIdEncontrado = (await httpClient.GetFromJsonAsync<List<Vehiculo>>($"api/Vehiculoes"))!
        .ToList()
        .Any(t => t.VehiculoId == vehiculo.VehiculoId);
        if (vehiculoIdEncontrado)
        {
            var vehiculoEncontrado = await httpClient.GetFromJsonAsync<Vehiculo>($"api/Vehiculoes/{vehiculo.VehiculoId}");
            if (vehiculoEncontrado != null)
            {
                this.vehiculo = vehiculoEncontrado;
                StateHasChanged();
            }
        }
        else
        {
            return;
        }
    }

    public async Task Guardar()
    {
        var response = await httpClient.PutAsJsonAsync($"api/Vehiculoes/{VehiculoId}", vehiculo);
        if (!response.IsSuccessStatusCode)
        {
            return;
        }


        StateHasChanged();

    }

    public void Nuevo()
    {
        vehiculo = new Vehiculo();
        Detalles = new Vehiculos_Detalle();
        listaDetalles = new List<Vehiculos_Detalle>();

    }

    public async Task Eliminar()
    {
        var response = await httpClient.DeleteAsync($"api/Vehiculoes/{vehiculo.VehiculoId}");
        if (!response.IsSuccessStatusCode)
        {
            return;
        }
        Nuevo();
    }


    public async Task AgregarDetalle()
    {
        var response = await httpClient.PostAsJsonAsync("api/Vehiculoes", Detalles);
        if (!response.IsSuccessStatusCode)
        {
            return;
        }
        var vehiculoDevuelto = await response.Content.ReadFromJsonAsync<Vehiculos_Detalle>();
        if (vehiculoDevuelto is not null)
        {
            Detalles.VehiculoId = vehiculo.VehiculoId;
            Detalles = vehiculoDevuelto;
            listaDetalles.Add(Detalles);

            var vehiculoIdGuardado = Detalles.VehiculoId;

            Detalles = new Vehiculos_Detalle();
            Detalles.VehiculoId = vehiculoIdGuardado;
            StateHasChanged();
        }
    }

    public async Task RemoverDetalle(Vehiculos_Detalle details)
    {
        Detalles = details;
        listaDetalles.Remove(details);
    }
}

