

@using Shared.Models

@inject HttpClient httpClient


<div class="card shadow-lg">
    <div class="card-header">
        <h3>Consulta Vehiculo</h3>
    </div>

    <div class="card-body">

        <label>Filtrar Por</label>
        <div class="row ">
            <div class="col-3">
                <InputSelect @bind-Value="Opcion" class="form-select">
                    <option value="0">Todo</option>
                    <option value="1">VehiculoId</option>
                    <option value="2">Descripci&oacute;n</option>
                </InputSelect>
            </div>
            <div class="col-3">
                @if (Opcion == 1)
                {
                    <div class="input-group">
                        <InputNumber @bind-Value="vehiculo!.VehiculoId" class="form-control"></InputNumber>
                        <button type="button" @onclick="Buscar" class="btn btn-primary">Buscar</button>
                    </div>
                }
                else if (Opcion == 2)
                {
                    <div class="input-group">
                        <InputText @bind-Value="vehiculo!.Descripcion" class="form-control"></InputText>
                        <button type="button" @onclick="Buscar" class="btn btn-primary">Buscar</button>
                    </div>
                }
                else if (Opcion == 0)
                {
                    <div class="input-group">
                        <button type="button" @onclick="Buscar" class="btn btn-primary">Buscar</button>
                    </div>
                }
            </div>

            <div class="mb-3 d-flex justify-content-end">
                <a href="Create" class="btn btn-success">Create</a>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>VehiculoId</th>
                    <th>Fecha</th>
                    <th>Descripci&oacute;n</th>
                    <th>Costo</th>
                    <th>Gastos</th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ListaVehiculos!)
                {
                    <tr>
                        <td>@item.VehiculoId</td>
                        <td>@item.Fecha</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Costo</td>
                        <td>@item.Gasto</td>

                        <td>
                            <a href="/Delete/@item.VehiculoId" class="btn btn-danger bi bi-trash-fill">Delete</a>
                            <a href="/Edit/@item.VehiculoId" class="btn btn-primary bi-box-arrow-up-right">Edit</a>
                            <a href="/Details/@item.VehiculoId" class="btn btn-success bi-box-arrow-up-right">Detalles</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    public int Filtro { get; set; }
    public List<Vehiculo>? ListaVehiculos { get; set; } = new List<Vehiculo>();
    public Vehiculo? vehiculo { get; set; } = new Vehiculo();
    public int Conteo { get; set; }
    public int Opcion { get; set; }


    protected override async Task OnInitializedAsync()
    {
        // await Buscar();
        var encontrado= await httpClient.GetFromJsonAsync<List<Vehiculo>>($"api/Vehiculoes");
       // ListaVehiculos = encontrado ?? new List<Vehiculo>();
    }

    public async Task Buscar()
    {
        if (Filtro == 1 && vehiculo!.VehiculoId > 0)
        {
            ListaVehiculos = (await httpClient.GetFromJsonAsync<List<Vehiculo>>($"api/Vehiculoes"))!.Where(t => t.VehiculoId == vehiculo!.VehiculoId).ToList();
            StateHasChanged();
        }
        else
        if (Filtro == 2 && !string.IsNullOrEmpty(vehiculo!.Descripcion))
        {
            ListaVehiculos = (await httpClient.GetFromJsonAsync<List<Vehiculo>>($"api/Vehiculoes"))!.Where(t => t.Descripcion!.ToLower() == vehiculo!.Descripcion.ToLower()).ToList();
            StateHasChanged();
        }
        else
        {
            ListaVehiculos = await httpClient.GetFromJsonAsync<List<Vehiculo>>($"api/Vehiculoes");
            StateHasChanged();
        }
        Conteo = ListaVehiculos != null ? ListaVehiculos!.Count() : 0;
    }


}

